$social_facebook: #3B5998;
$social_twitter:  #00ACED;
$social_google:   #DD4B39;

$category_home: #3AAFB9;
$category_all: #FF6F59;
$category_design: #6870b8;
$category_development: #09BC8A;
$category_marketing: #FF6B6B;
$category_analytics: #7B904B;
$category_productivity: #774C60;
$category_webhosting: #2F99E7;
$category_misc: #E7B03D;

$logo_background: #f8faff;

$header_background: #f1f5fd;
$header_link_color: #414E57;

$search_input_background:  #dee2e8;
$search_button_background: #8b9aa8;

$sidebar_background: #242b34;
$sidebar_cat_nav_background: #2a343c;
$sidebar_subcat_nav_background: #1f252c;
$sidebar_color: #65717C;

$content_background: #e3e8ed;

$border_color: #CCCCCC;

$content_color: #686868;

$action_liked: #dd294d;
$action_favorited: #5d923a;
