.pace {

  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  left: 0px;
  bottom: 0px;
  z-index: 1;
  position: absolute;

  @include size(100%, $loading_height);
  @include transition(all, 0.265s, ease, 0.265s);

  .pace-progress {

    background: rgba(black, 0.25);
    position: absolute;
    
    bottom: 0;
    right: 100%;
    
    @include size(100%, $loading_height);

  }

}

.pace-inactive {

  //opacity: 0;
  @include position(0px, $loading_height + 1);
  
}
