aside {

  z-index: 100;

  top:  $header_height;
  left:   0px;
  bottom: 0px;

  position: fixed;
  background-color: $sidebar_background;

  @include size($sidebar_width, 100%);

  @media(max-width: $mobile_break) {

    top: 0px;
    padding-top: $header_height;

    @include size(100%);
    @include position(-100%, 0px);

    &.visible {

      @include position(0px);

    }

  }

  nav {

    top: 0px;
    display: block;
    position: absolute;

    &#category-nav {

      left: 0px;
      z-index: 1;
      position: absolute;

      background-color: $sidebar_cat_nav_background;

      @include size($sidebar_nav_size, 100%);

      @media(max-width: $mobile_break) {

        right: 0px;
        left: initial;
        padding-top: $header_height;

        @include size(80px, 100%);

      }

      li {

        clear: both;
        float: left;
        display: block;
        position: relative;
        max-height: 14.28571428571429%;

        @include size(100%, auto);

      .category-selector {

          z-index: 1;
          float: left;
          clear: both;
          cursor: pointer;
          font-size: 10px;
          font-weight: 600;
          padding: 2em 0em;
          text-decoration: none;
          text-transform: capitalize;
          display: inline-block;
          color: $sidebar_color;
          text-align: center;
          border-left: 4px solid transparent;

          @include size($sidebar_nav_size, auto);

          @media(max-width: $mobile_break) {

            font-size: 9px;
            border-left: 0px;
            padding: 1.5em 0em 2em 0em;
            border-right: 4px solid transparent;

            @include size(80px, auto);

          }

          &[data-active="true"] {

            color: white;
            background-color: $sidebar_background;

          }

          &:hover {

            color: white;

          }

          .fa {

            float: left;
            clear: both;
            font-size: 3em;
            margin-bottom: 10px;

            @include size(100%, auto);

            @media(max-width: $mobile_break) {

              font-size: 2em;
              margin-bottom: 5px;

            }

          }

        }

      }

    }

    &#tag-nav {

      left: $sidebar_nav_size;
      right: 0px;
      bottom: 0px;
      padding: 1em;

      @media(max-width: $mobile_break) {

        left: 0px;
        z-index: 0;
        overflow-y: scroll;
        padding: 0em 0em 1em 1em;
        padding-right: 80px;
        padding-top: $header_height + 10px;

      }

      li {

        clear: both;
        float: left;

        @include size(100%, auto);

        @media(max-width: $mobile_break) {

          padding-right: 1em;

        }

      }

      #toggle-tag-nav {

        top:   1em;
        right: 1em;

        position: absolute;
        background-color: transparent;
        color: $sidebar_cat_nav_background;
        border: 1px solid $sidebar_cat_nav_background;

      }

      .tag-selector {

        float: left;
        clear: both;
        padding: 1em;
        display: none;
        font-size: 10px;
        cursor: pointer;
        position: relative;
        color: $sidebar_color;
        border-radius: 5px;

        @include size(100%, auto);

        label {

          float: left;
          cursor: inherit;

          @include size(100%);

          &:before {

            content: '#';
            margin-right: 0.35em;
            display: inline-block;

          }

          span {

            float: right;
            cursor: inherit;
            display: none;

          }

        }

        &[data-active="true"] {

          color: white;
          display: inline-block;
          background-color: $sidebar_subcat_nav_background;

        }

        &:hover {

          color: white;

        }

      }

    }

  }

}
