@import '_globals';
@import '_theme';
@import '_header';
@import '_mobile';
@import '_sidebar';
@import '_content';
@import '_info';
@import '_footer';

body {

  font-size: 13px;
  font-weight: 400;
  font-family: $open_sans;

  background: rgba(#F5F5F5, 1);

  a, button, .link, .pointer {

    cursor: pointer;

    @include transition(all, 0.265s, ease, 0s);

  }

  #main {

    outline:     none;
    min-height: 100vh;

    @include size(100%, auto);

  }

}

#user-info {

  float: right;
  display: none;
  cursor: pointer;
  position: relative;

  background: #2a343c;
  display: inline-block;
  border-radius: $user_avatar_size;
  padding: 0px $user_avatar_size/2 0px 0px;

  #user-avatar,
  #user-name {

    z-index: 1;
    float: left;
    cursor: pointer;
    position: relative;
    display: inline-block;
    line-height: $user_avatar_size;

    @include size(auto, $user_avatar_size);

  }

  #user-avatar {

    border-radius: 100%;
    border: 5px solid #2a343c;
    margin-right: 10px;

  }

  #user-name {

    color: white;
    font-size: 13px;
    font-weight: 600;

  }

  #user-dropper {

    z-index: 1;
    float: left;
    color: white;
    margin-left: 10px;
    position: relative;
    display: none;
    line-height: $user_avatar_size;

  }

  #user-menu {

    top: 100%;
    right:  0px;
    z-index: 0;
    display: none;

    margin-top: -2em;
    background: #2a343c;
    position: absolute;
    padding: 2em 0em;
    border-bottom-left-radius: $user_avatar_size / 2;
    border-bottom-right-radius: $user_avatar_size / 2;


    @include size(100%, auto);

    li {

      float: left;
      clear: both;
      padding: 1em;
      color: white;
      position: relative;
      display: inline-block;

      @include size(100%, auto);

    }

  }

  &:hover {

    #user-menu {

      // display: block;

    }

  }

}

#twitter-login {

  border: 0px;
  float: right;
  display: none;
  outline: none;
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding: 1em 1em 1em 4em;
  background: $social_twitter;
  border-radius: $user_avatar_size;
  padding: 0px $user_avatar_size/2 0px 0px;

  @include size(auto, 100%);

  @media(max-width: $mobile_break) {

    float: left;

    @include size(100%, auto);

  }

  span, .fa {

    float: left;
    color: white;
    position: relative;
    display: inline-block;
    line-height: $user_avatar_size;

  }

  span {

    font-size: 13px;
    font-weight: 600;

  }

  .fa {

    font-size: 1.25em;
    text-align: center;
    margin-right: 10px;
    border-radius: 100%;
    display: inline-block;
    border: 5px solid $social_twitter;
    background: rgba(black, 0.25);
    line-height: $user_avatar_size - 8;

    @include size($user_avatar_size);

  }

}